header{
    background-color: #809e71;
    padding: 20px 10px;
    text-align: center;
    /* border: solid grey; */
}
nav h1{
  padding: 10px;
}
header h1{
  display:flex;
  flex-direction: column;
  padding: 10px;
}

nav ol{
  display: flex;
  flex-direction: column;
}
nav li{
  display:block;
  padding: 3px;
}
nav a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

nav li:hover, li:focus{
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}
footer{
    background-color: #809e71;
    color: black;
    padding: 15px 0;
    text-align: center;
    /* border: solid grey; */
  }
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  .skip a{
    position: absolute;
    top: -40px;
  }
  .skip a:focus{
    /* position: relative; */
    top: 20px;
  }

  h1{
    text-align: center;
    padding: 5px;
  }
  div h1{
    text-align:left;
    margin: 2px;
  }
  h2{
    text-align: center;
  }
  .title h1{
    text-align: center;
    padding: 5px;
  }
  p{
    margin: 8px;

  }
  footer p{
    text-align: center;
  }

  img{
    padding-top: 3px;
    padding-bottom: 3px;
  }
/* homepage setup for mobile first display */
  .setup{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
  .introduction{
    grid-column: 1/span1;
    padding: 10px;
  }
  
  #intro-image {
    grid-column: 1/span 1;
    width: 100%;
  }

  #break-image{
    grid-column: 1/span 1;
    width: 100%;
  }
  .background-text{
    grid-column: 1/span 1;
  }
  #background-image{
    grid-column: 1/span 1;
    width: 100%;
  }
  .work-text{
    grid-column: 1/span 1;
  }

  #plants{
    grid-column: 1/span 1;
    width: 100%;
  }
  #razor{
    grid-column: 1/span 1;
    width: 100%;
  }
  #portrait{
    grid-column: 1/span 1;
    width: 100%;
  }
  #bridge-outside{
    grid-column: 1/span 1;
    width: 100%;
  }
  #bridge-inside{
    grid-column: 1/span 1;
    width: 100%;
  }
  #model-chair{
    grid-column: 1/span 1;
    width: 100%;
  }
  /* figure{
    grid-column: 1/span 1;
  } */

  /* chair page setup for mobile first */
  
  .chair-setup{
    display: flex;
    flex-direction: column;
  }
  .learning-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .learning-images{
    display: flex;
    flex-direction: column;
  }
  .initial-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .initial-images{
    display: flex;
    flex-direction: column;
  }
  .prototypes-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .prototypes-images{
    display: flex;
    flex-direction: column;
  }
  .construction-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .construction-images{
    display: flex;
    flex-direction: column;
  }
  .final-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .final-images{
    display: flex;
    flex-direction: column;
  }
  /* kitchen table page setup for mobile first */
  .table-setup{
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items:center
  }
  .title{
    grid-column: 1/span 1;
  }
  .idea-text{
    grid-column: 1/span 1;
  }
  #outside{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  .research-text{
    grid-column: 1/span 1;
  }
  #digital{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #leg{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #inside{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #benches{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  .construction-text{
    grid-column: 1/span 1;
  }
  #aluminum{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #gluing{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #flipped{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  .final-text{
    grid-column: 1/span 1;
  }
  #bob{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #mac{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  .gallery{
    grid-column: 1/span 1;
  }
  #lower{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #mirror{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #zipper{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #fabric{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #together{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #kitchen{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
@media screen and (min-width: 750px){
  header h1{
    display:flex;
    flex-direction: column;
    padding: 10px;
  }
  
  nav ol{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav li{
    display:inline;
  }
  /*homepage */
  .setup{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .introduction{
    grid-column: 1/span 1
  }
  #intro-image{
    grid-column: 2/span 1;
    width: 90%;
    height: 90%;
  }
  #break-image{
    grid-column: 1/span 2;
    width: 100%;
    height: 100%;
  }
  .background-text{
    grid-column: 2/span 1;
  }
  #background-image{
    grid-column: 1/span 1;
    grid-row:3;
    width: 80%;
    height: 90%;
  }
  .work-text{
    grid-column: 1/span 2;
    text-align: center;
    padding: 10px;
  }
  .work-text h1{
    text-align: center;
  }
  #plants{
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
  }
  #razor{
    grid-column: 2/span 1;
    width: 100%;
    height: 100%;
  }
  #bridge-outside{
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
  }
  #bridge-inside{
    grid-column: 2/span 1;
    width: 100%;
    height: 100%;
  }
  #portrait{
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
  }
  #model-chair{
    grid-column: 2/span 1;
    width: 100%;
    height: 100%;
  }
  /* chair setup */
  .chair-setup img{
    width: 40%;
    padding: 5px;
  }
  .chair-setup{
    display: flex;
    flex-direction: column;
  }
  .learning-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .learning-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .initial-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .initial-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .prototypes-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .prototypes-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .construction-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .construction-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .final-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .final-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* table setup */
  .table-setup{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .title{
    grid-column: 1/span 2;
  }
  .idea-text{
    grid-column: 1/span 1;
  }
  #outside{
    grid-column: 2/span 1;
    width: 80%;
    height: 90%
  }
  .research-text{
    grid-column: 1/span 2;
  }

  #digital{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #leg{
    grid-column: 2/span 1;
    width: 80%;
    height: 90%;
  }
  #inside{
    display: none;
  }
  #benches{
    display: none;
  }
  .construction-text{
    grid-column: 1/span 2;
  }
  #aluminum{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #gluing{
    grid-column: 2/span 1;
    width: 80%;
    height: 90%;
  }
  #flipped{
    grid-column: 1/span 2;
    width: 80%;
    height: 90%;
  }
  .final-text{
    grid-column: 1/span 2;
  }
  #bob{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #mac{
    grid-column: 2/span 1;
    width: 80%;
    height: 90%;
  }
  .gallery{
    grid-column: 1/span 2;
  }
  #lower{
    grid-column: 1/span 1;
    width: 90%;
    height: 90%;
  }
  #mirror{
    grid-column: 2/span 1;
    width: 90%;
    height: 90%;
  }
  #zipper{
    grid-column: 1/span 1;
    width: 90%;
    height: 90%;
  }
  #fabric{
    grid-column: 2/span 1;
    width: 90%;
    height: 90%;
  }
  #together{
    grid-column: 1/span 1;
    width: 90%;
    height: 90%;
  }
  #kitchen{
    grid-column: 2/span 1;
    width: 90%;
    height: 90%;
  }
}
@media screen and (min-width: 1000px){
  header h1{
    display:flex;
    flex-direction: row;
    padding: 10px;
  }
  
  nav ol{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  /* homepage */
  .setup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .introduction{
    grid-column: 1/span 2;
  }
  #intro-image{
    grid-column: 3/span 1;
    width: 80%;
    height: 90%;
    
  }
  #break-image{
    grid-column: 1/span 3;
    width: 100%;
    height: 90%;
  }
  .background-text{
    grid-column: 2/span 2;
  }
  #background-image{
    grid-column: 1/span 1;
    width: 80%;
    height: 100%;
  }
  .work-text{
    grid-column: 1/span 3;
  }
  #plants{
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
  }
  #razor{
    grid-column: 2/span 1;
    width: 100%;
    height: 100%;
  }
  #bridge-outside{
    grid-column: 3/span 1;
    width: 100%;
    height: 100%;
  }
  #bridge-inside{
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
  }
  #portrait{
    grid-column: 2/span 1;
    width: 100%;
    height: 100%;
  }
  #model-chair{
    grid-column: 3/span 1;
    width: 100%;
    height: 100%;
  }
  /* chair display */
  .chair-setup img{
    width: 30%;
    padding: 5px;
  }
  .chair-setup{
    display: flex;
    flex-direction: column;
  }
  .learning-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .learning-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .initial-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .initial-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .prototypes-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .prototypes-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .construction-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .construction-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .final-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .final-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* table display */
  .table-setup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .title{
    grid-column: 1/span 3;
  }
  .idea-text{
    grid-column: 1/span 1;
    padding: 15px; 
  }
  #outside{
    grid-column: 2/span 2;
    width: 80%;
    height: 90%
  }
  .research-text{
    grid-column: 1/span 3;
    padding: 15px;
  }

  #digital{
    grid-column: 1/span 1;
    width: 80%;
    height: 90%;
  }
  #leg{
    grid-column: 2/span 1;
    width: 80%;
    height: 90%;
  }
  #inside{
    display: block;
    grid-column: 3/span 1;
    width: 80%;
    height: 90%;
  }
  #benches{
    display:block;
    grid-column: 1/span 3;
    width: 80%;
    height: 90%;
  }
  .construction-text{
    grid-column: 1/span 1;
    padding: 15px;
  }
  #aluminum{
    grid-column: 2/span 1;
    width: 80%;
    height: 90%;
  }
  #gluing{
    grid-column: 3/span 1;
    width: 80%;
    height: 90%;
  }
  #flipped{
    display: none;
  }
  .final-text{
    grid-column: 1/span 1;
    padding: 15px;
  }
  #bob{
    grid-column: 2/span 1;
    width: 80%;
    height: 90%;
  }
  #mac{
    grid-column: 3/span 1;
    width: 80%;
    height: 90%;
  }
  .gallery{
    grid-column: 1/span 3;
  }
  #lower{
    grid-column: 1/span 1;
    width: 90%;
    height: 90%;
  }
  #mirror{
    grid-column: 2/span 1;
    width: 90%;
    height: 90%;
  }
  #zipper{
    grid-column: 3/span 1;
    width: 90%;
    height: 90%;
  }
  #fabric{
    grid-column: 1/span 1;
    width: 90%;
    height: 90%;
  }
  #together{
    grid-column: 2/span 1;
    width: 90%;
    height: 90%;
  }
  #kitchen{
    grid-column: 3/span 1;
    width: 90%;
    height: 90%;
  }
}